/* Dashboard Styling */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Karla', sans-serif;
}
.sidenav {
  padding: 10px;
}
.sidenav-card {
  background-color: grey;
}

.bg-dark {
    background-color: #0E141B !important;
}
.bg-dark-secondary {
    background-color: #151E28;
}

.bg-dark-tertiary {
    background-color: #1C2835;
}

.icon {
  --size: 35px;
  display: inline-block;
  width: var(--size);
  height: var(--size);

  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon-bike {
  background: white;

  -webkit-mask-image: url('/img/icon/bell-solid.svg');
  mask-image: url('/img/icon/bell-solid.svg');
}

.fa-2x {
    font-size: 2px;
}

.centered {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    left: 0; /* chart js*/
}
a, a:hover {
    color: white;
}

.test {
    position: relative;
}

.nav .card:not(.bg-primary):hover{
    background-color: #6c757d77 !important;
}
.card {
    margin: .1rem 0;
    background-color: transparent ;
}
.card p {
    display: inline;
    margin-left: 5px;
}
.node:hover {
    background-color: #6c757d1f !important;
}
.bg-green-primary {
    border: 3px solid #66bb6a;
}

h4 {
    font-weight: bold;
}

/* .card, .table-responsive {
    border-radius: .5em;
} */

.table {
    margin-bottom: 0;
}